pipeline/incremental pipeline multiple table.json
{
	"name": "incremental pipeline multiple table",
	"properties": {
		"activities": [
			{
				"name": "ReadWaterMarkData",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select * from dbo.tbl_watermark\nwhere flag=1",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_READ_WM_DETAILS",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "CopyEachTable",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "ReadWaterMarkData",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('ReadWaterMarkData').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "CopyIncrementalData",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "@item().source_query",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_SOURCE_INC_MULTI",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "DS_SINK_MULTI_INC",
									"type": "DatasetReference",
									"parameters": {
										"tablename": {
											"value": "@item().target_table_name",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "GetNewWatermarkValue",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "CopyIncrementalData",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "select isnull(MAX(@{item().watermark_column}),'@{item().watermark_value}') as NewWaterMarkValue\nFROM  @{item().target_table_name}",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "DS_NEW_WM",
									"type": "DatasetReference"
								}
							}
						},
						{
							"name": "UpdateWatermarkValue",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "GetNewWatermarkValue",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[sp_watermark]",
								"storedProcedureParameters": {
									"maxdate": {
										"value": {
											"value": "@activity('GetNewWatermarkValue').output.firstRow.NewWaterMarkValue",
											"type": "Expression"
										},
										"type": "Datetime"
									},
									"tablename": {
										"value": {
											"value": "@item().target_table_name",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureSqlDatabase1",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"annotations": []
	}
}